doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="stylesheet", href="/paper/bootstrap.min.css")
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/switch.css')
    link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/css/style.css')
    script(src="/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
  body
    block content